.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.displayOutput {
  height: 70px;
  background-color: black;
  width: 100%;
  color: white;
}

.displayOutput p {
  font-size: 50px;
}

.Button {
  display: block;
  background-color: lightgrey;
}

.Button button{
  width: 25%;   
  height: 70px; 
  font-size: 30px;
}

.Header {
  color: darkgoldenrod;
  font-size: 30px;
  margin: auto;
}